.card-sign {
border: 1px solid black;
border-radius: 10px;
width: 400px;
padding: 1rem;
margin: 1rem;
}

.form-sign {
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.form-sign button {
padding: 0.5rem;
width: fit-content;
}

.form-sign input {
line-height: 1.5rem;
}

.message {
color: red;
}

.connected {
    background-color: green;
}

.disconnected {
    background-color: red;
}